* {
  box-sizing: border-box;
}

.nbx-container {
  /*background: yellow;*/
}

.nbx-row {
  background: blue;    
  margin-bottom: 10px;
}

.nbx-row-children {
  display: flex;
  flex-wrap: wrap;
}

[class^="nbx-column"] {
  background: yellow;
}

[class^="nbx-column"]:nth-child(odd) {
  background: pink;
}

.nbx-module {
  height: 50px;
  background: green;
  margin: 10px;
}

.nbx-column-12 { flex-basis: 100%; }
.nbx-column-11 { flex-basis: 91.66666667%; }
.nbx-column-10 { flex-basis: 83.33333333%; }
.nbx-column-9  { flex-basis: 75%; }
.nbx-column-8  { flex-basis: 66.66666667%; }
.nbx-column-7  { flex-basis: 58.33333333%; }
.nbx-column-6  { flex-basis: 50%; }
.nbx-column-5  { flex-basis: 41.66666667%; }
.nbx-column-4  { flex-basis: 33.33333333%; }
.nbx-column-3  { flex-basis: 25%; }
.nbx-column-2  { flex-basis: 16.66666667%; }
.nbx-column-1 { flex-basis: 8.33333333%; }
